

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 85%;
    margin:0px;
    background-color: lightyellow;
}

.container {
    width: 100%;
}

/*Header Area*/

.container header{
    padding-top: 10px;
    width : 100%;
}

    
.links{
    margin-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.links ul{
    margin: 0;
    padding:0;
    width: 100%;
}

.links li{
    list-style: none;
    float:left;
    margin-right: 9px;
}

.links a{
    font-size: 15px;
    padding:4px;
    text-decoration:none;
    display:block;
    color:green;
    border-top: 3px solid rgb(241, 215, 181);
    border-left: 3px solid rgb(241, 215, 181);
    border-right: 3px solid rgb(241, 215, 181);
    border-bottom: 3px solid rgb(241, 215, 181);
    background-color:rgb(241, 215, 181);
    border-radius: 10px 6px;
    transition-property: color , background-color;
    transition-duration:1s;
}

.links a:hover{
    background-color: whitesmoke;
    color: goldenrod;
}
/*End Of Header Area*/


/*___________________________________________________________________________Main Content Area*/

.cente{
    margin-left: 30px;
}

/*_______________________________________CSS For Projects And work____________________________________*/
.Projects{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
}

h1 {
    color: black;
   
    text-decoration: underline overline black;
}

.a{
    background-color: black;
    opacity: 0.95;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-bottom: 20px;
}

.a:hover {
    opacity: 1;
    transform: scale(1) rotate(0.5deg);
}
.c:hover {
    opacity: 1;
    transform: scale(1) rotate(0.5deg);
}
.b:hover {
    opacity: 1;
    transform: scale(1) rotate(0.5deg);
}
.d:hover {
    opacity: 1;
    transform: scale(1) rotate(0.5deg);
}

.a h3{
    color:rgb(87, 63, 4);
    text-decoration: underline;
    margin-bottom: 10px;
}

.b{
    background-color:black;
    opacity: 0.95;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-bottom: 20px;
}

.b h3{
    color:rgb(87, 63, 4);
    text-decoration: underline;
}

.side {
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.c{
    background-color:black;
    opacity: 0.95;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-bottom: 20px;
}

.d{
    background-color:black;
    opacity: 0.95;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-bottom: 20px;
}

.c h3{
    color:rgb(87, 63, 4);
    text-decoration: underline;
    margin-bottom: 10px;
}

.d h3{
    color:rgb(87, 63, 4);
    text-decoration: underline;
}

/*_______________________________________CSS For Projects And work____________________________________*/

.cycle-slideshow{
    margin-left: 170px;
    position: relative;

}

/*_________________________________________CSS For Achieve____________________________________________*/
/* Thumbnail Styles */
.thumbnails {
    margin-left: 15px;
    width:80%;
}

.thumbnails a {
    float: left;
    width:16%;
	box-sizing: border-box;
	padding-right: 15px;
	margin-bottom: 15px;
}

.thumbnails img {
    margin-top: 50px;
	width: 100%;
	height: auto;
	display: block;
	transition: all .2s ease-in-out;
}

.thumbnails:hover img {
	opacity: .6;
	transform: scale(.92);
}

.thumbnails:hover img:hover {
	opacity: 1;
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}


/*___________________________________________________CSS For Table____________________________*/
.m .divide{
    display:flex;
}

.achieve{
    margin-top: 50px;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
}

table th {
	text-align: left;
	background-color: #869960;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th,
table td {
	border: 1px solid #869960;
	padding: 10px;
	vertical-align: top;
}

table tbody tr:nth-child(even) td {
	background-color: #E5E9DC;
}

table tbody tr:hover td {
	background-color: #E6DCE9;
}
/*_____________YOUTUBE______________________*/
.z{
    margin:30px;
}

/*___________________________________________________CSS For Table____________________________*/



/*_________________________________________CSS For Achieve____________________________________________*/


/*______________________________ANIMATION_________________________________________________*/


/*Ball Animation*/
@keyframes ball{
    
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateX(600px);
    }
}

/*Browser Compatibility*/
@-webkit-keyframes ball{
    
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateX(600px);
    }
}
/*Browser Compatibility*/

.ttball{
    animation: ball 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    order:2;
}
/*ball ANimation*/

@keyframes bat{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: skewX(20deg);
    }
}

@-webkit-keyframes bat{
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: skewX(20deg);
    }
}


.ttbat{
    animation: bat 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    order:1;
}

/*_______________________________________________END Animation_____________________________________________________*/
/*__________________________________________End of Main Content Area*/


/*______________________________________________Footer*/
footer{
    text-align:center;
    color:black;
    margin-bottom:10px;
    margin-top:10px;
    background-color: rgb(241, 215, 181);
}
/*___________________________________________End of Footer*/


/*This should be included whenever you include float */

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

@media only screen and (max-width: 767px) {
    .links{
        margin-top: 220px;
    }
    .links ul{
        margin: 0;
        padding:0;
        width: 100%;
    }
    
    .links li{
        list-style: none;
        float:left;
        margin-bottom: 6px;
    }
    
    .links a{
        font-size: 21px;
    }

    .main{
        margin-left: 7px;
        margin-right: 6px;
  }

  .cycle-slideshow{
    margin-left: 0px;
  }
  .side .social{
      font-size: 110%;
      margin-top: 10px;
  }

  @keyframes ball{
    
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateX(300px);
    }
}

/*Browser Compatibility*/
@-webkit-keyframes ball{
    
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateX(300px);
    }
  }

  .Projects img {
    max-width: 400px;
    max-height: 300px;
  }

.m .divide{
   display:block ;
}

.thumbnails {
    display:flex;
    margin-left: 5px;
    margin-right: 0px;
    width:110%
}

.thumbnails a {
    padding-right: 0px;
    margin-right: 5px;
	margin-bottom: 0px;
}

.thumbnails img {
	width: 70px;
	height: 100px;
	display: block;
	transition: all .2s ease-in-out;
}

}


